{% extends 'base.html.twig' %}

{% block title 'test'%}

{% block body %}
    {% if articles %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Article Title</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article }}</td>
                    <td>
                        <a href="{{path('article')}}" class="btn btn-dark">SHOW</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No Articles to display!</p>
    {% endif %}
{% endblock %}

