{% extends 'base.html.twig' %}

{% block title 'test'%}

{% block body %}
<h1>{{ article.title }}</h1>
<p>{{ article.body }}</p>
<hr>
<a class="btn btn-danger" href="{{path('home')}}">Go Back</a>
{% endblock %}